body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 2vh;
  margin: 0;
  background-color: #002e2e;
}

header {
background-color: #004d4d;
color: #b8f1f1;
padding: 2em;
text-align: center;
font-size: larger;
}

header h1 {
margin: 0;
}

header img{
  width: 5vh;
}

nav {
background-color: #008080;
}

nav ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

nav li {
flex-grow: 1;
text-align: center;
border-right: #004d4d;
border-bottom: #004d4d;
border-right-width: 1px;
border-right-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
}

nav a {
color: #b8f1f1;
display: block;
padding: 5px;
text-decoration: none;
padding: 1vh;
}

nav li:hover,
nav li:active,
.act {
background-color: #01dfdf;
}

nav a:hover,
nav a:active,
.act a{
  color:#002e2e;
}

#navbar{
overflow: hidden;
}

.sticky{
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content{
padding-top: 60px;
}

h2{
background-color: #008080;
color: #b8f1f1;
text-align: center;
padding: 1em;
width: 80%;
margin-left: auto;
margin-right: auto;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main{
color: #adcbe3;
}

footer{
background-color: #004d4d;
color: #b8f1f1;
padding: 2vh;
padding-bottom: 4vh;
}

footer a{
text-decoration: none;
color: #b8f1f1;
}

footer img{
  width: 2vh;
}

main a{
  text-decoration: none;
  color: #b8f1f1;
}

.even{
  background-color: #008080;
  color: #b8f1f1;
  padding: 4vh;
}

.odd{
  padding: 4vh;
}

h4{
  margin: 1vh;
  font-size: larger;
  border-bottom: #b8f1f1;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 1vh;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.headerodd{
  padding: 2vh;
  text-align: center;
  background-color: #002e2e;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.headereven{
  padding: 2vh;
  text-align: center;
  background-color: #008080;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

ul *:not(h2+div li){
  text-align: center;
}

ul{
  padding-left: 0%;
}

h2 + div ul{
  display: flex;
  flex-wrap: wrap;
}

h2 + div li{
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
  list-style-type: none;
  margin: 2vh;
  font-weight: bolder;
  font-size: 5vh;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.amateur{
  background-image: url(img/1.jpg);
  background-position: bottom;
  background-size: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.intermediate{
  background-image: url(img/2.jpg);
  background-position: bottom;
  background-size: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.advance{
  background-image: url(img/3.jpg);
  background-position: bottom;
  background-size: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}